## Data Subsetting

In [ ]:
import pandas as pd

In [ ]:
BASE = '../../data'
FILES = {
    'articles': f'{BASE}/articles.csv',
    'customers': f'{BASE}/customers.csv',
    'transactions': f'{BASE}/transactions_train.csv'
}

In [ ]:
transactions = pd.read_csv(FILES['transactions'])

In [4]:
trx_grp = transactions.groupby(['customer_id', 'article_id'])[['t_dat', 'price']].agg({'t_dat': 'count', 'price': 'mean'}).rename(columns={'t_dat': 'qty', 'price': 'avg_price'})

In [5]:
trx_grp.head(15)

                                                               qty  avg_price
customer_id                                        article_id
00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d... 176209023     1   0.035576
                                                   568601006     2   0.050831
                                                   568601043     1   0.050831
                                                   607642008     1   0.012695
                                                   625548001     1   0.044051
                                                   627759010     1   0.030492
                                                   656719005     1   0.044051
                                                   694736004     1   0.018288
                                                   697138006     1   0.010153
                                                   745232001     1   0.021169
                                                   785186005     1   0.016932
                                                   785710001     1   0.024407
                                                   795440001     1   0.014390
                                                   797065001     2   0.054220
                                                   812683013     1   0.036593

In [6]:
pop_articles = trx_grp.reset_index().groupby(['article_id'])[['qty']].sum().sort_values('qty', ascending=False)

In [7]:
K = 1000
top_k_items = pop_articles.reset_index().loc[:K, ['article_id']]

In [8]:
pop_customers = trx_grp.reset_index().groupby(['customer_id'])[['qty']].sum().sort_values('qty', ascending=False)

In [9]:
K = 300_000
top_k_customers = pop_customers.reset_index().loc[:K, ['customer_id']]

In [10]:
mask = transactions['article_id'].isin(top_k_items['article_id']) | transactions['customer_id'].isin(top_k_customers['customer_id'])
trx_popular = transactions[mask]

In [11]:
trx_popular.shape, transactions.shape

((24285737, 5), (31788324, 5))

In [ ]:
top_k_items.to_csv('./data/top_1000_articles.csv', index=False)
top_k_customers.to_csv('./data/top_300_000_customers.csv', index=False)
trx_popular.to_csv('./data/transactions_popular.csv', index=False)

In [ ]:
customers = pd.read_csv(FILES['customers'])
articles = pd.read_csv(FILES['articles'])

In [ ]:
articles = articles.loc[articles['article_id'].isin(top_k_items['article_id']), :]
customers = customers.loc[customers['customer_id'].isin(top_k_customers['customer_id']), :]

In [ ]:
articles.shape, customers.shape

In [ ]:
articles.to_csv('./data/articles.csv', index=False)
customers.to_csv('./data/customers.csv', index=False)